table {
    border-collapse: collapse;
    background: linear-gradient(145deg, #e0d4b4, #e9c984);
    background-size: cover;
    color: #000; /* Adjust text color if needed for readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #8b6e4f; /* Slight darker border to match the old map */
}

.border-diagonal  {
    background:  linear-gradient(to right top, 
    #e0d4b4 0%,#e0d4b4 49.9%,
    blue 50%, blue 58%,
    #e0d4b4 51.1%, #e0d4b4 100%) !important;
}

.border-reverse-diagonal  {
    background:  linear-gradient(to left top, 
    #e0d4b4 0%,#e0d4b4 49.9%,
    blue 50%, blue 58%,
    #e0d4b4 51.1%, #e0d4b4 100%) !important;
}

td,
th {
    width: 30;
    height: 30;
    border: 1pt solid black;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}

/* Individual border styles */
.border-top {
    border-top: 5px solid blue;
}

.border-bottom {
    border-bottom: 5px solid blue;
}

.border-left {
    border-left: 5px solid blue;
}

.border-right {
    border-right: 5px solid blue;
}

.startPoint>rect,
.startPoint>polygon {
    fill: #77FFFF !important;
    stroke: #5151f3 !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.endPoint>rect,
.endPoint>polygon {
    fill: #FF9966 !important;
    stroke: #FF0000 !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.fight>rect,
.fight>polygon {
    fill: #FFAAAA !important;
    stroke: #FF5555 !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.luck>rect,
.luck>polygon {
    fill: #f3f16a !important;
    stroke: #f7836c !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.tip>rect,
.tip>polygon {
    fill: #a2ff77 !important;
    stroke: #112c1f !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.action>rect,
.action>polygon {
    fill: #f5b7ea !important;
    stroke: #112c1f !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.red>rect,
.red>polygon {
    fill: #ff4a2f !important;
    stroke: #d41313 !important;
    color: #534a4a !important;
    stroke-width: 2px !important;
}

.yellow>rect,
.yellow>polygon {
    fill: #eff30c !important;
    stroke: #85920f !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.blue>rect,
.blue>polygon {
    fill: #01a2ff !important;
    stroke: #0000fF !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}

.purple>rect,
.purple>polygon {
    fill: #a750ee !important;
    stroke: #9900ff !important;
    color: #000000 !important;
    stroke-width: 2px !important;
}
